*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.first{
    /* min-height: 797px; */
    background: url('img/main_bg.jpg') center center/cover no-repeat;
    
}

.first .first_section{
    margin: 0 auto;
    width: 70%;
    padding: 39px 0  15px 0;
    text-align: center;
}



.logo .logo_img{
    display: block;
    margin: 0px auto;
}

.logo .logo_text {
    margin: 10px auto;
    color: seashell;
    text-align: center;
    text-transform: uppercase;
}

.first_section .text_1, .text_3{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: Roboto; */
    font-style: normal;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    color: #F9BF3B;
    text-transform: uppercase;
}

.first_section .text_2{

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 80px;
text-align: center;
text-transform: uppercase;
padding-top:20px ;

color: #FFFFFF;

}

.first_section .text_4{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
    
}

.first_section .text_4 span{
    color: #F9BF3B;
}

.first_section .btn{
    display: block;
    margin: 70px auto 0 auto;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 551px;

    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);

    color: whitesmoke;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}


.more .more_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    padding-top: 70px;
    text-transform: uppercase;
    color: white;
}

.more .more_img{
    
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.second{
    min-height: 700px;
    background: #EFEFEF;
    padding: 30px 10px 0 10px;
}
.second .second_wraper{
    max-width: 1200px;
    margin: 0 auto;
}

.second_wraper .second_text1{
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;

    color: #252525;
    
}

.second_wraper .divider{

    width: 220px;
    height: 7px;
   
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 20px;

}

.second_wraper .second_text2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 20px;
}

.second_wraper .wraper_inside{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.second_wraper .item_wait{
    width: 342px;
    margin: 20px;
}
.item_wait .wait_text{
    margin-top: 15px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
}

.third_wraper{
position: relative;
max-width: 1200px;
margin: 0 auto;
}

.third_wraper .optim_header{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    
    margin-top: 30px;
    text-transform: uppercase;

    color: #299CBD;

}

.third_wraper .optim_text{
   
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 27px;

color: #4A4A4A;

}

.third_wraper .optim_text span{
font-weight: 900;
}

.third_wraper .optim_img{
    position: absolute;
    top: 0px;
    left: -350px;
    z-index: -1;
}

.third_wraper .optim_text_wraper{
    /* width: 85%; */
    margin-left:250px ;
    padding-right: 20px;
}

.four{
    background: url('img/second_bg.png') center center/cover no-repeat;
    min-height: 400px;
    margin-top: 40px;
    padding: 30px 0 30px 0;
}

.four .four_header{
    
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;

    color: #EFEFEF;
}

.four .four_divider{
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 30px;
}

.four .four_wraper{
    /* background-color: bisque; */
    width: 80%;
    min-height: 200px;
    margin: 20px auto;

}
.four_container{
    margin-top: 20px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 200px;
    
}

.four_item{
    /* background-color: red; */
    width: 204px;
    height: 150px;
    text-align: center;
    margin: 17px;
}

.four_item .item_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B4E2FF;
    width: 118px;
    height: 118px;
    border-radius: 100%;
    margin: 0  auto;
    
    
}

/* .four_item .circle_image{
    display: block;
    
} */

.four_item .item_text{
    color: gainsboro;
    font-family: Roboto;
    margin-top: 10px;
}

.five{
    min-height: 600px;
    color: EFEFEF;
    padding: 40px 0 40px 0;
}

.five .five_container{
    width: 70%;
    min-height: 350px;
    margin: 0 auto;
    text-align: center;
}

.five_container .five_img{
    margin: 0 auto;
}

.five_container .five_text{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 43px;
/* or 143% */

text-align: center;
color: #252525;
margin-top: 40px;

}

.five_container .five_btn{
    display: block;
    margin: 60px auto 0 auto;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 551px;

    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);

    color: whitesmoke;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
}

.footer{
    height: 169px;
    background:#1A1A1A; 
    padding: 60px;
}

.footer .footer_wraper{
    color: #888888;
    text-align: center;
}

@media (max-width:400px) {
    .optim_img{
        display:none;
    }
    .third_wraper .optim_text_wraper {
        margin-left: 20px;
    }
    .first_section .btn {
        max-width: 250px;
    }
    .first_section .text_2 {
        font-size: 65px;
    }
    .five_container .five_btn{
        max-width: 250px;
    }
    .first_section .text_1, .text_3 {
        font-size: 30px;
    }
}