*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

.wraper{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

.portfolio .port_wraper{
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    
    flex-wrap: wrap;
}

.first_info{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.first_info div:first-child {
    background: white;
    border-radius: 30px;
    padding: 10px;
}

.port_wraper .port_img{
    width: 300px;
    height: 300px;
    background:  url('./img/photo_2021-03-01_06-46-15_crop1.jpg') center/cover no-repeat;
    border-radius: 100%;
}

/* .port_img .img_inside{
    display: block;
    width: 400px;
} */
.port_first_block{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    border: 1px #cacaca solid;
    border-radius: 30px;
    background: rgb(239 239 239);
}
.port_wraper .port_desc{
    min-width: 350px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 500px;
}

.port_desc .ru_desc{
    position: absolute;
    transition: opacity 0.7s;
    
}
.port_desc .eng_desc{
    position: absolute;
    transition: opacity 0.7s;
    
}

/* .active_desc{
    opacity: 1;
} */
.nonactive_desc{
    opacity: 0;
    /* transition: opacity 0.1s; */
}

/* ---------------------------------Lang Buttons */
.port_desc .header{
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 35px;
    font-weight: 800;
    padding-right: 10px;
}

.port_desc .header_wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.port_desc .button_wrap{
    display: flex;
   
}

.port_desc .eng_button{
    font-family: Verdana, sans-serif;
    font-weight: 800;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    
    border: 2px solid rgb(61, 61, 61);
    border-radius: 5px;

    margin-right: 2px;

}
.active_btn{
    background-color: black;
    color: white;
}
.port_desc .eng_button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.port_desc .personal{
    font-family: Verdana, sans-serif;
    margin-top: 20px;
}

.port_desc .education, .summary {
    font-family: Verdana, sans-serif;
    margin-top: 20px;
    font-weight: 800;
    font-size: 20px;
    color: rgb(51, 51, 51);
}
.port_desc .education span, .summary span{
    font-weight: 300;
    font-size: 15px;
    color: #525252;

}

/* ------------------------------------------------------------------------- Projects ---------------- */

.projects_wrap{
    max-width: 1200px;
    margin: 20px auto;
    /* padding: 0px 20px; */
}
.proj_list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

}

.proj_desc {
    background-color:#eeeeee;
    
    height: 44px;
    margin: 0 auto;

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    display: grid;
    align-content: center;
    color: #626161;
    border-radius: 30px;
}

/* -------------- Proj item --------------- */
.proj_item{
    width: 100%;
    min-height: 200px;
    text-align: center;
    margin-top: 25px;
    display: flex;
    flex-direction: column;

}

.proj_item .item_img{
    width: 180px;
    height: 180px;
    margin: 10px 18px;
    border-radius: 100%;
}

.item_img .img_inside{
    display: block;
    width: 100%;
    height: 100%;
    padding: 2px;
}

.proj_item .item_desc{
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: rgb(69, 69, 69);
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8px; 
}

.item_desc_text{
    padding: 3px;
    max-width: 550px;
    color: #939393;
}
.item_first_block{
    width: 100%;
    min-height: 45px;
    background-color: rgb(208, 208, 208);
    padding: 5px;
    padding-left: 15px;
    border-radius:25px 25px 0 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.proj_item .item_link{
    
    font-size: 20px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: rgb(142 142 142);

}

.proj_item a{
    text-decoration: none;
}

.item_second_block{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;

    border: 1px solid rgb(208 208 208);
    border-radius:0 0 30px 30px;
    padding: 0 0 10px 10px;
}

.item_link_git{
    min-width: 155px;
    border-radius: 20px;
    height: 35px;
    font-size: 20px;

    padding: 5px;
    color: rgb(255 255 255);
    background-color: rgb(157 157 157);
    text-align: center;
}

.item_title{
    font-size: 27px;
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #4d4a4ae8;
}

.item_desc-buttons{
    display: flex;
    gap: 10px;
}

@media  (max-width:590px) {
    .item_second_block{
        justify-content: center;
        padding: 0px 10px 10px
    }

    .proj_item .item_desc{
        width: 100%;
    }

    .item_desc_text{
        padding: 5px;
    }
    
    .item_title {
        font-size: 32px;
        text-align: center;
    }

    .item_desc-buttons{
        justify-content: center;
    }
    
}

@media (max-width: 710px) {
    .portfolio .port_wraper{
        justify-content: center;
    }
    
}