.wraper{
    display: flex;
}

.box1, .box2{
    background-color: rgb(247, 118, 118);
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 10pt;
    border: 2px solid black;
    border-radius: 1em;
    }

.box1:hover{
    transition: 0.5s all;
    transform: scale(1.1);

}

.but:hover{
    background-color: rgb(223, 247, 10);
}