*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

.wraper{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

.portfolio .port_wraper{
    width: 100%;
    /* min-height: 550px; */
    /* background-color: cadetblue; */
    margin: 30px auto 0px auto;
    display: flex;
    
    flex-wrap: wrap;
}

.first_info{
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 20px;

}

.port_wraper .port_img{
/* background-color: burlywood; */

min-width: 300px;
height: 300px;
background:  url('./img/photo_2021-03-01_06-46-15_crop1.jpg') center/cover no-repeat;
border-radius: 100%;

margin: 0 20px 0 20px;
}

.port_img .img_inside{
    display: block;
    width: 400px;
}

.port_wraper .port_desc{
    min-width: 350px;
    max-width: 500px;
    /* background-color: coral; */
    margin-top: 20px;
    position: relative;
    margin-bottom: 500px;
}

.port_desc .ru_desc{
    position: absolute;
    transition: opacity 0.7s;
    
}
.port_desc .eng_desc{
    position: absolute;
    transition: opacity 0.7s;
    
}

/* .active_desc{
    opacity: 1;
} */
.nonactive_desc{
    opacity: 0;
    /* transition: opacity 0.1s; */
}

/* ---------------------------------Lang Buttons */
.port_desc .header{
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 35px;
    font-weight: 800;
    padding-right: 10px;
}

.port_desc .header_wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.port_desc .button_wrap{
    display: flex;
   
}

.port_desc .eng_button{
    font-family: Verdana, sans-serif;
    font-weight: 800;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    
    border: 2px solid rgb(61, 61, 61);
    border-radius: 5px;

    margin-right: 2px;

}
.active_btn{
    background-color: black;
    color: white;
}
.port_desc .eng_button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.port_desc .personal{
    font-family: Verdana, sans-serif;
    margin-top: 20px;
}

.port_desc .education, .summary {
    font-family: Verdana, sans-serif;
    margin-top: 20px;
    font-weight: 800;
    font-size: 20px;
    color: rgb(43, 43, 43);
}
.port_desc .education span, .summary span{
    font-weight: 300;
    font-size: 15px;
    color: black;

}

/* ------------------------------------------------------------------------- Projects ---------------- */

.projects_wrap{
    max-width: 1200px;
    margin: 20px auto;
    /* padding: 0px 20px; */
}
.proj_list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

}

.proj_desc {
    background-color:#eeeeee;
    
    height: 30px;
    margin: 0 auto;

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;

}

/* -------------- Proj item --------------- */
.proj_item{
    width: 100%;
    min-height: 200px;
    text-align: center;
    margin-top: 25px;
    display: flex;
    flex-direction: column;

}

.proj_item .item_img{
    /* background-color: darkorange; */
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 100%;
    /* border-radius: 5px 0 0 5px; */
    /* border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey; */
    /* background-size: cover; */
    /* border: 1px solid grey */
   /* margin-right: 5px; */
}

.item_img .img_inside{
    display: block;
    width: 100%;
    height: 100%;
    padding: 2px;
}

.proj_item .item_desc{
    /* background-color: deeppink; */
    /* height: 100%; */
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    /* border-right: 1px solid grey;
    border-left: 1px solid grey; */
    color: rgb(69, 69, 69);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.item_desc_text{
    /* border-left: 1px solid grey; */
    padding: 5px;
}
.item_first_block{
    width: 100%;
    min-height: 45px;
    background-color: rgb(208, 208, 208);
    padding: 5px;
    padding-left: 15px;
    border-radius:5px 5px 0 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.proj_item .item_link{
    
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    
    color: rgb(74, 74, 74);
   
    border: 1px solid rgb(202, 202, 202);
    /* border-top: 1px solid grey;
    border-right: 1px solid grey; */
    

}

.proj_item a{
    text-decoration: none;
}

.item_second_block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    /* border-right: 2px solid rgb(208, 208, 208);
    border-left: 2px solid rgb(208, 208, 208);
    border-bottom: 2px solid rgb(208, 208, 208); */
    border: 1px solid grey;
    border-radius:0 0 5px 5px;
}

.item_link_git{
    width: 170px;
    border-radius: 5px;
    height: 35px;
    font-size: 20px;
    color: rgb(62, 62, 62);
    background-color: rgb(235, 235, 235);
    padding: 5px;
    /* border-radius:0 0 5px 5px;
    border: 1px solid grey; */
    text-align: center;

}

.item_title{
    font-size: 27px;
    margin: 5px 0;
}

@media  (max-width:490px) {
    .item_second_block{
        justify-content: center;
    }

    .proj_item .item_desc{
        width: 100%;
    }

    .item_title {
        font-size: 32px;
        text-align: center;
    }

    
}

@media (max-width: 710px) {
    .portfolio .port_wraper{
        justify-content: center;
    }
    
}


